$size-icon-search: 27px;
$sprites: url("/assets/sprites.png");
$color-menu-links: #000;
$padding-left-links: 12%;

@mixin icon-before($posX, $posy, $width, $height) {
    content: " ";
    background: $sprites no-repeat;
    background-position: $posX $posy;
    background-size: 94px;
    width: $width;
    height: $height;
    display: inline-block;
}

.menu-main {
    height: 29px;
    width: 100%;
    background: #f6f6f6;
    display: inline-flex;

    &-title {
        font-family: 'RageItalic';
        font-size: 4.8rem;
        text-transform: uppercase;
    }

    &-search {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 25%;
        margin-left: 17%;

        &-input {
            background: #d9d9d9;
            border: none;
            height: $size-icon-search;
            padding-left: 3%;
            width: 70%;
        }

        &-bt {
            border: solid 1px #000;
            background: #f2f2f2;
            display: inline;
            padding: 1.2% 1.5%;
            margin-left: -4px;
        }
    }

    &-group-links {
        display: inline-block;
        font-size: 1.2rem;
        width: 50%;
    }

    &-links {
        text-decoration: none;
        color: $color-menu-links;
        display: inline-block;
        margin-left: 5%;

        &:hover {
            text-decoration: none;
            color: $color-menu-links;
        }

        &-user {
            &::before {
                @include icon-before(1px, 3px, 30px, 20px);
            }
        }

        &-wishlist {
            &::before {
                @include icon-before(-27px, 3px, 20px, 20px);
            }
        }

        &-account {
            background: #000;
            color: #fff;
            padding: 1% 2.5% 0.3%;

            &:hover {
                color: #fff;
            }
        }
    }

    &-nav {
        border-bottom: 1px solid #e6e6e6;
          
        &:before{
            @include icon-before(-1px, -43px, 64px, 39px);
            vertical-align: middle;
        }
        &::after{
            @include icon-before(-64px, -31px, 3px, 64px);
            vertical-align: middle;
            margin-left: 15px;
        }

        &-ul {
            list-style: none;
            display: inline-flex;
            padding: 0;
        }

        &-link {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            margin-left: 20px;
            text-transform: uppercase;
        }
    }
}
